* {
    margin: 0;
    padding: 0;
    font-family: 'seaFont2';
}

@font-face {
    font-family: 'seaFont';
    src: url('./SeaweedScript-Regular.ttf');
}

@font-face {
    font-family: 'seaFont2';
    src: url('./ChelseaMarket-Regular.ttf');
}

header {
    background-color: lightskyblue;
    text-align: center;
    font-size: 60px;
    border-bottom: black 5px solid;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#content {
    background-color: aqua;
    flex: 3;
    background-image: url('./sea_texture');
    height: 100%;
}

#box {
    background-color: aquamarine;
    flex: 1;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding: 15%;
}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}

#buttons div:hover {
    background-color: rgb(87, 205, 221);
}

#buttons div {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}
